---

- hosts: ngcsdevices
  collections:
    - opengear_om
  connection: httpapi
  gather_facts: yes
  tasks:
    - name: Get port info
      opengear.om.om_facts:
        gather_subset: min
        gather_network_resources: ports
    - name: Modify ports
      opengear.om.om_ports:
        config:
          ports:
          - id: "{{ item.id }}"
            parity: none
            label: "{{ item.id }}"
            stopbits: 1
            pinout: X2
            baudrate: 9600
            mode: disabled
            logging_level: disabled
            databits: 8
            escape_char: '~'
        state:
          overridden
      loop: "{{ ansible_facts['network_resources']['ports']['ports'] }}"
      when: item.pinout != "USB"
